<?xml version="1.0" encoding="utf-8"?>
<plugin id="com.rosses.adaptive" version="1.0"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-android-adaptive-icon</name>
    <description>Cordova Android 8.1 Adaptive Icons</description>

    <engines>
        <engine name="cordova" version=">=7.1.0"/>
        <engine name="cordova-android" version=">=6.3.0" />
    </engines>

	<!-- 	android platform -->
    <platform name="android">
		<!-- Android 8.1 -->
		<config-file file="AndroidManifest.xml" target="application">
		<application
		   android:icon="@mipmap/ic_launcher" 
		   android:roundIcon="@mipmap/ic_launcher_round"
		   xmlns:android="http://schemas.android.com/apk/res/android" />
		</config-file>

		<source-file src="res/drawable/ic_launcher_background.xml" target-dir="res/drawable" />
		<source-file src="res/drawable-v24/ic_launcher_background.xml" target-dir="res/drawable-v24" />
		<source-file src="res/values/ic_launcher_background.xml" target-dir="res/values" />

	    <source-file src="res/mipmap/launcher.png" target-dir="res/mipmap" />

		<source-file src="res/mipmap-anydpi-v26/ic_launcher.xml" target-dir="res/mipmap-anydpi-v26" />
		<source-file src="res/mipmap-anydpi-v26/ic_launcher_round.xml" target-dir="res/mipmap-anydpi-v26" />

		<source-file src="res/mipmap-hdpi/launcher.png" target-dir="res/mipmap-hdpi" />
		<source-file src="res/mipmap-hdpi/ic_launcher_foreground.png" target-dir="res/mipmap-hdpi" />
		<source-file src="res/mipmap-hdpi/ic_launcher_round.png" target-dir="res/mipmap-hdpi" />

		<source-file src="res/mipmap-mdpi/launcher.png" target-dir="res/mipmap-mdpi" />
		<source-file src="res/mipmap-mdpi/ic_launcher_foreground.png" target-dir="res/mipmap-mdpi" />
		<source-file src="res/mipmap-mdpi/ic_launcher_round.png" target-dir="res/mipmap-mdpi" />

		<source-file src="res/mipmap-xhdpi/launcher.png" target-dir="res/mipmap-xhdpi" />
		<source-file src="res/mipmap-xhdpi/ic_launcher_foreground.png" target-dir="res/mipmap-xhdpi" />
		<source-file src="res/mipmap-xhdpi/ic_launcher_round.png" target-dir="res/mipmap-xhdpi" />

		<source-file src="res/mipmap-xxhdpi/launcher.png" target-dir="res/mipmap-xxhdpi" />
		<source-file src="res/mipmap-xxhdpi/ic_launcher_foreground.png" target-dir="res/mipmap-xxhdpi" />
		<source-file src="res/mipmap-xxhdpi/ic_launcher_round.png" target-dir="res/mipmap-xxhdpi" />

		<source-file src="res/mipmap-xxxhdpi/launcher.png" target-dir="res/mipmap-xxxhdpi" />
		<source-file src="res/mipmap-xxxhdpi/ic_launcher_foreground.png" target-dir="res/mipmap-xxxhdpi" />
		<source-file src="res/mipmap-xxxhdpi/ic_launcher_round.png" target-dir="res/mipmap-xxxhdpi" />
    </platform>
	
</plugin>