<?xml version="1.0" encoding="utf-8"?>
<plugin id="com.rosses.adaptive" version="1.0"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-android-adaptive-icon</name>
    <description>Cordova Android 8.1 Adaptive Icons</description>

    <engines>
        <engine name="cordova" version=">=7.1.0"/>
        <engine name="cordova-android" version=">=6.3.0" />
    </engines>

	<!-- 	android platform -->
    <platform name="android">
		<!-- Android 8.1 -->
		<config-file file="AndroidManifest.xml" target="application">
		<application
		   android:icon="@mipmap/ic_launcher" 
		   android:roundIcon="@mipmap/ic_launcher_round"
		   xmlns:android="http://schemas.android.com/apk/res/android" />
		</config-file>

		<source-file src="res/drawable/launcher.xml" target="res/drawable/launcher.xml" />
		<source-file src="res/drawable/launcher_round.xml" target="res/drawable/launcher_round.xml" />
		<source-file src="res/drawable/launcher_background.xml" target="res/drawable/launcher_background.xml" />
		<source-file src="res/drawable/launcher_foreground.xml" target="res/drawable/launcher_foreground.xml" />

    </platform>
	
</plugin>